@import "tailwindcss";
body,
html {
  overflow-x: hidden;
}

/* Oculta scrollbar em navegadores modernos */
.scroll-hidden {
  scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

:root {
  --swiper-pagination-color: #f69027;
}
